/* text */
body {
    font-family: monospace;
}
.main-title {
    color: #282828;
    font-weight: bold;
    font-size: 32px;
    padding: 50px 0;
}
.sub-title {
    font-size: 24px;
    padding: 25px 0;
    font-weight: bold;
    color: #808080;
}

/* general */
input, textarea {
    box-sizing: border-box;
}
.interaction-btn {
    background-color: #517b96;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    border: transparent;
    box-shadow: 1px 1px 1px #aaa;
    cursor: pointer;
}

/* view */
#main-container {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}
    #notification-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: white;
        display: none;
    }

    .user-input {
        position: relative;
        width: 100%;
        margin-top: 50px;
    }
    #article-container {
        position: relative;
        width: 80%;
        height: 100%;
    }
    #article-title {
    }
        #at-input {
            position: relative;
            width: 80%;
            max-width: 800px;
            padding: 10px;
            font-size: 20px;
            border: 1px solid #517b96;
            box-shadow: 1px 1px 1px #282828;
        }
    #article-body {
    }
        #ab-input {
            position: relative;
            width: 80%;
            max-width: 800px;
            height: 350px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #517b96;
            box-shadow: 1px 1px 1px #282828;
        }
    #publish-article {
    }
        #pa-btn {
            
        }