/* sadly this is buggy for some reason, the axes are not working as expected */
.flex {
    display: flex; 
}
    /* alignment */
    /* top */
    .flt {
        justify-content: flex-start; /* x-axis */
        align-items: flex-start; /* y-axis */
    }
    .fct {
        justify-content: center;
        align-items: flex-start;
    }
    .frt {
        justify-content: flex-end;
        align-items: flex-start;
    }
    /* middle */
    .flc {
        justify-content: flex-start;
        align-items: center;
    }
    .fcc {
        justify-content: center;
        align-items: center;
    }
    .frc {
        justify-content: flex-end;
        align-items: center;
    }
    /* bottom */
    .flb {
        justify-content: flex-start;
        align-items: flex-end;
    }
    .fcb {
        justify-content: center;
        align-items: flex-end;
    }
    .frb {
        justify-content: flex-end;
        align-items: flex-end;
    }
    /* direcition */
    .fdr {
        flex-direction: row;  
    }
    .fdc {
        flex-direction: column;  
    }