/* text */
body {
    font-family: monospace;
}
.main-title {
    color: #282828;
    font-weight: bold;
    font-size: 32px;
    padding: 50px 0;
}
.sub-title {
    font-size: 16px;
    font-weight: bold;
    color: #808080;
}
.article-body {
    text-align: left;
    word-wrap: break-word;
    margin-top: 50px;
}
.helper-text {
    font-size: 16px;
    color: #aaa;
}
.add-margin {
    margin-top: 50px;
}

/* general */
input, textarea {
    box-sizing: border-box;
}
.interaction-btn {
    background-color: #517b96;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    border-radius: 6px;
    border: transparent;
    box-shadow: 1px 1px 1px #aaa;
    cursor: pointer;
}

/* view */
#main-container {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
    #notification-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: white;
        display: none;
    }
    #article-container {
        position: relative;
        width: 80%;
        max-width: 800px;
        height: auto;
        box-shadow: 1px 1px 1px 1px #282828;
        margin-top: 50px;
        padding: 0 2%;
    }
    #comments-container {
        position: relative;
        width: 60%;
        height: auto;
        padding: 2%;
        border: 1px solid #aaa;
        margin-top: 100px;
        margin-left: 18%;
    }
    #comment-interface {
        margin-top: 25px;
    }
        #inp-comment {
            position: relative;
            width: 50%;
            height: 150px;
            margin-top: 15px;
            padding: 15px;
        }
        #btn-comment {
            margin-top: 25px;
        }
    .user-comment {
        position: relative;
        width: 50%;
        height: auto;
        padding: 2%;
        border: 1px solid #aaa;
        margin-top: 25px;
        margin-left: 23%;
    }
        .comment-header {
            position: relative;
            width: 100%;
            height: auto;
            text-align: left;
            padding: 15px 0;
        }
            .comment-header-text {
                font-size: 16px;
                font-weight: bold;
            }
        .comment-body {
            position: relative;
            width: 100%;
            height: auto;
        }